/* 
    Do not spend your time to 
    make project look good. We 
    are not evaluating any CSS
    knowlegde.
 */

 .app {
    margin: 5px;
 }

 .button {
    margin: 5px;
 }

 .app-header {
    font-weight: bold;
 }